<div ng-show="SharedData.employment = sect.filteredJobs.length" class="sections">
    <h4><span class="label label-primary"><b>Employment</b></span></h4>
    <ul id="jobs" class="list-unstyled">
        <li id="joblist" ng-repeat="job in sect.filteredJobs=(sect['employment history'] | filter:SharedData.query | perspective)"  ng-show="job.filteredDescript.length + sect.filteredJobs.length">
            <div>
                <div class="logo">
                    <img ng-src="{{job.img}}" height="84" width="210">
                </div>
                <br />
                <p><b>{{job["company name"]}}</b>, {{job.location}}</p><p style="margin-left: 1em; color: blue;"><b>{{job.period}}</b></p>
                <div style="white-space: nowrap;"><b><p style="background: rgba(139, 18, 24, 0.58); color: white;">{{job.position}}</p></b></div>
                <ul>
                    <li class="info-listing" ng-repeat="text in job.filteredDescript = (job.description | filter:SharedData.query)">
                        <p>{{text}}</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>