/* app css stylesheet */

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}
.container-fluid{
  display:table;
}

.row {
  height: 100%;
  display: table-row;
  width: 100%;
}

.col-md-2{
  background-color: rgba(44, 157, 255, 0.65);
  width: 20%;
}

.col-md-10{
  width: 80%;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.center {
  text-align: center;
}
