/* app css stylesheet */

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}
.container-fluid{
  display:table;
}

body {
  padding-top: 50px;
}

#site, #mail{
  background: white;
  display: inline-block;
  padding: .5%;
}
#summary{
  -webkit-box-shadow: 0px 0px 5px 0px #4d4d4d;
  -moz-box-shadow: 0px 0px 5px 0px #4d4d4d;
  box-shadow: 0px 0px 5px 0px #4d4d4d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  background: white;

}
#skills,#employment,#education,
#projects{
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.row {
  height: 100%;
  display: table-row;
  width: 100%;
  background: url("http://www.michaelbarnes.info/images/sanfran.jpg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}



.col-md-2{
  background-color: rgba(44, 157, 255, 0.65);
  width: 20%;
  position: fixed;
}

.col-md-12{
  width: 80%;
  left: 10%;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

@media (min-width: 768px) {
  #sidebar .collapse{
    display: block;
  }
  .collapse.in{
    display: table-cell;
  }
}

.center {
  text-align: center;
}

.logo{
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 0px #4d4d4d;
  -moz-box-shadow: 0px 0px 5px 0px #4d4d4d;
  box-shadow: 0px 0px 5px 0px #4d4d4d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  height: 84px;
  width: 210px;
  list-style-type: none;
}

.sections{
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 0px #4d4d4d;
  -moz-box-shadow: 0px 0px 5px 0px #4d4d4d;
  box-shadow: 0px 0px 5px 0px #4d4d4d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;

}

#viewSects > li{
  margin-bottom: 2%;

}

#joblist{
  padding-left: 5%;
  padding-top: 2%;
  border-bottom: 1px solid #3a3a3a;
  -webkit-box-shadow: 0px 2px 2px #4d4d4d;
  -moz-box-shadow: 0px 2px 2px #4d4d4d;
  box-shadow: 0px 2px 2px #4d4d4d;
}
#jobs li:last-of-type{
  border-bottom: 0;
  -webkit-box-shadow: 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
}

input{
  margin-top: 10%;
}

#sidecontrol> button{
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
}
