<div id="resume-view" class="container-fluid sections">
    <div ng-include="'resume-view/top-nav/top-nav1.html'"></div>
    <div class="row">
        <div id="sidebar" class="collapse in side-bar col-md-2 sections" role="navigation">
            <div ng-include="'resume-view/side-nav/side-nav.html'"></div>
        </div>
        <div class="col-md-12">
            <div ng-controller="NavCtrl" ng-include="'resume-view/top-nav/top-nav2.html'"></div>
            <br/>
            <ul class="list-unstyled">
                <!--Resume content-->
                <li ng-repeat="resume in SharedData.resumes">
                    <ul id="viewSects" class="list-unstyled">
                        <li class="info-listing" ng-repeat="sect in SharedData.sects = resume.sections" on-finish-render="ngRepeatDone">
                            <div id="{{sect.sectId}}" ng-include=sect.template></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
