<div id="resume-view" class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-2 sidebar-offcanvas" role="navigation">
            <!--Sidebar content-->

            Search: <input ng-model="query">

        </div>
        <div class="col-md-10">
            <div ng-controller="NavCtrl">
                <div ng-include="'view1/top-nav.html'"></div>
            </div>
            <br />
            <ul class="list-unstyled">
                <!--Resume content-->
                <li ng-repeat="resume in resumes">
                    <ul class="list-unstyled" data-as-sortable data-ng-model="resume.sections">
                        <li ng-repeat="sect in resume.sections" data-as-sortable-item>
                            <div id="{{sect.sectId}}" data-as-sortable-item-handle ng-include=sect.template></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
