<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">

        </div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <!--Resume content-->
                <li ng-repeat="resume in resumes">
                    <div ng-include="'view1/intro.html'"></div>
                    <div ng-include="'view1/summary.html'"></div>
                    <div ng-include="'view1/skills.html'"></div>
                    <div ng-include="'view1/employment.html'"></div>
                    <div ng-include="'view1/education.html'"></div>
                    <div ng-include="'view1/projects.html'"></div>
                </li>
            </ul>
        </div>
    </div>
</div>